/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "Bulma";

.navbar {
  background-color: #3778c2;
}

.navbar-burger {
  margin-left: 0;
}

.margin-auto {
  margin: auto;
}

.notification:not(:last-child) {
  margin: 0;
}

.d-none {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar-end .field.is-grouped {
    flex-direction: column;
    text-align: center;

    .button,
    .control {
      width: 100%;
    }
  }

  .d-none {
    display: block;
  }

  .main-card {
    margin-top: 30px;
  }

  .course-button {
    width: 100%;
    margin-top: 20px;
  }

  .start-form {
    margin-top: 20px;
  }

  .project-courses > select {
    width: 100%;
    height: 50px;
  }
}
